.achievements {
  padding: 6.25rem 2rem;
}

.achievements h1 {
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 5rem;
  font-family: serif;
}

.swiper_container {
  padding: 2rem 0;
  position: relative;
  overflow: hidden; /* Ensure no overflow */
}

.swiper-slide {
  width: 570px !important;
  height: 300px !important;
  position: relative;
}

.achievements .item {
  position: relative;
}

.achievements .item-content {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.achievements .item-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  border-radius: 10px;
}

.achievements .text-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 10px; /* Add padding to ensure text stays within the content */
}

.achievements .text-content p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
}
.achievements .text-content p b{
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  .achievements h1 {
    font-size: 2.25rem;
  }

  .swiper_container {
    height: 300px;
  }
  .swiper-slide {
    width: 450px !important;
    height: 300px !important;
  }

  .achievements .item-content {
    padding: 15px;
  }

  .achievements .text-content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 576px) {
  .achievements h1 {
    font-size: 1.75rem;
  }

  .swiper_container {
    height: 250px;
  }
  .swiper-slide {
    width: 350px !important;
    height: 250px !important;
  }

  .achievements .item-content {
    padding: 10px;
  }

  .achievements .text-content p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 10px;
  }
  .achievements .text-content p b{
    font-size: 1.25rem;
  }
}
